@{
    Layout = "default";
    Title = "Wallace Kelly";
    Description = "writes about F#, WPF, async, and the like.";
}
@using System.Linq

<ul>
    @foreach (var post in Enumerable.Take(Model.Posts, 10))
    {
        <li>
            <a href="/blog/@post.Url/index.html">@post.Title</a>
        </li>
    }
</ul>
<br />